@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aplicación en desarollo con <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core</a>.</p>
</div>
